# General settings
RewriteEngine On
DirectoryIndex index.php

# Set RewriteBase to the relative URL path of the current folder
RewriteBase /

# Access index.php and assets folder directly
RewriteRule ^index\.php(\/.*)?$ - [L]
RewriteRule ^app\/assets\/.*$ - [L]

# Rewrite asset URLs
RewriteRule ^assets\/(.*)$ app/assets/$1 [QSA,L]

# Redirect all other requests to index.php
RewriteRule ^(.*)$ index.php/$1 [QSA,L]