# General settings

RewriteEngine On
DirectoryIndex index.php
Options +FollowSymLinks -Indexes

# Set RewriteBase to the relative URL path of the current folder

RewriteBase /

RewriteRule ^index\.php(\/.*)?$ - [L]
RewriteRule ^assets\/.*$ - [L]

# Rewrite URLs to include index.php

RewriteRule ^(.*)$ index.php/$1 [QSA,L]